<main>
    <form action="?route=login" method="post">
        <div>
            <label for="pseudo">Pseudo</label>
            <input type="text" name="pseudo">
        </div>
        <div>
            <label for="pwd">Password</label>
            <input type="password" name="pwd">
        </div>
        <div>
            <input type="submit" value="Se connecter">
        </div>
    </form>
    <div>
        <p>Pas ce compte ? <a href="login.php?route=signup">S'enregistrer</a></p>
    </div>
</main>