<main>
    <form action="?route=signup" method="post">
        <div>
            <label for="pseudo">Pseudo</label>
            <input type="text" name="pseudo">
        </div>
        <div>
            <label for="pwd">Password</label>
            <input type="password" name="pwd">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>
        <div>
            <input type="submit" value="S'enregistrer">
        </div>
    </form>
</main>