/*Created 22/03/22*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

header {
    align-items: center;
    background-color:crimson;
    border:1px solid black;
}

header nav ul {
    display:flex;
    justify-content: center;
}

header nav ul li {
    display:flex;
    margin:16px;
}