/*Created 22/03/22*/



.navLeft {
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:#696969;
    height: 80vh;
    width : 10vw;
    
}

.navLeft li {
    list-style-type: none;
    margin: 16px 0px;
}

.navLeft a {
    text-decoration: none;
    text-transform: capitalize;
    color:white;
    
}

.navLeft a:hover{
    text-decoration: underline;
    color:black;
    transition:0.5s;
}

