/* Created 22-03-20222 */
/*Reset CSS*/
* {
    margin:0px;
    padding:0px;
}

/*General style*/

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color:#696969;
    height: 10vh;
    justify-content: space-between;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    
}

header nav ul li {
    display: flex;
    margin: 16px;
}

header a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    
}

header a:hover{
    text-decoration: underline;
    color:black;
    transition:0.5s;

}
#forumLogo{
    margin: 1rem;
}
main {
    display:flex;
}
.main-content {
    height:80vh;
    width:100vw;
    }
footer {
    height: 10vh;
    background-color:#696969;
    
}