/* Created 22-03-20222 */
/*Reset CSS*/
* {
    margin:0px;
    padding:0px;
}

/*General style*/

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color:#696969;
    height: 8vh;
    justify-content: space-between;
    border : 1px solid white;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    
}

header nav ul li {
    display: flex;
    margin: 16px;
}

header a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}

header a:hover{
    text-decoration: underline;
    color:black;
    transition:0.5s;
}
#forumLogo{
    margin: 1rem;
}
main {
    display:flex;
}
.main-content {
    height:80vh;
    width:100vw;
    }
footer {
    height: 8vh;
    background-color:#696969;
    border : 1px solid white;
}

footer .social-medias {
    display:flex;
    justify-content:center;
    align-items:center;
}

footer .social-medias ul {
    display:flex;
    justify-content:center;
}

footer .social-medias li {
    margin:1rem;
    justify-content: space-around;
    list-style-type: none;
}

footer .social-medias a {
    color :white;
    text-decoration:none;
}

footer .social-medias a:hover {
    text-decoration: underline;
    color:black;
    transition:0.5s;
}

